<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/pages/about.css">

<h1 class="Name"><b>About us</b></h1>

<h2><b>1. Sharman - Machine Learning Stargazer<br></b></h2>

Sharman is our machine learning star who explores the data universe and adds intelligence to our projects.<br>
<br>


<h2><b>2. Yash - The All-round Nebula Navigator<br></b></h2>

Yash's all-round talent guides us through the galaxy of web development to ensure our work shines in every corner of the digital world.<br>
<br>


<h2><b>3. Pratham - Logic Constellation Artisan<br></b></h2>

Praham's wisdom creates the algorithmic constellations that power our work.<br>

<br>

<h2><b>4. Manas - Explorer of the Coding Universe<br></b></h2>

Manas is our coder who can explore the vast world of programming languages ​​and turn ideas into reality.<br>

<br>

<h2><b>5. Atharva - Design Comet Hunter<br></b></h2>

Atharva's creative vision captures the beauty of the earth in the design of our project and makes it look beautiful.<br>
<br>


<h2><b>6. Bhoumik - Workflow Area Commander<br></b></h2>

Bhoumik manages our workflows like an office manager, manages projects and leads us to stellar success.<br>
<br>


<b>Under the rule of a group of galactic nerds, we are ready to conquer the hackathon world and take home the cosmic victory! 🌌🚀 #GalcticGeeks #HackathonExplorers</b>

<%- include("partials/footer") -%> 