<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/donate.css">

<h1 class="Name"><b>Save the world together!</b></h1>

<section>
    <div class="donation-box">
        <img src="/assets/redlist.png" alt="IUCN Red List Logo";>
        <h2>IUCN Red List</h2>
        <p>The IUCN Red List evaluates the extinction risk of thousands of species and subspecies. Donations support conservation actions.</p>
        <a href="https://www.iucnredlist.org/support/donate">Donate to IUCN Red List</a>
    </div>
    <div class="donation-box">
        <img src="/assets/download.png" alt="Oceana Logo">
        <h2>Oceana</h2>
        <p>Oceana is the largest international advocacy organization focused solely on ocean conservation. Help protect the world's oceans.</p>
        <a href="https://oceana.org/">Donate to Oceana</a>
    </div>
    <div class="donation-box">
        <img src="/assets/seas.png" alt="Team Seas Logo">
        <h2>Team Seas</h2>
        <p>Team Seas aims to remove 30 million pounds of trash from the ocean. Support the global cleanup operation.</p>
        <a href="https://teamseas.org/">Donate to Team Seas</a>
    </div>
</section>

<%- include("partials/footer") -%> 