<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/styles.css">

<section class="button">
    <button class="btn btn-primary"><a href="/spiral"> Temperature Spiral</a></button>
  </section>

    <!--    <p class="home-about">
        SeaLifeData is an innovative and educational online platform dedicated to fostering a deeper understanding and appreciation of our planet's aquatic ecosystems. It serves as a comprehensive resource for individuals interested in exploring and preserving the diverse life forms found in oceans, rivers, lakes, and other natural bodies of water.
        <br><br>
    </p>-->

    <div class="donation-box">
        <b class="homeText">Click on waypoints below to know more about all Five Oceans.</b>

        <div class="map-container">
            <div id="map" style="height: 450px;">
            </div>
        </div>   
    </div>

<h1 class="home-about">Water quality estimation using given simulated data:</h1>
<section class="imgsection">
    <img src="/assets/graph.png" style="height: 500px; width: 550px;">
    <img src="/assets/graph2.png" style="height: 500px; width: 550px;">
</section>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>


<%- include("partials/footer") -%> 