<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- Your navigation bar and other content here -->
  <script src="/js/live-wallpaper.js"></script>
  <%- include("partials/header") -%>


  <!-- Include your JavaScript files here -->
  

      <div class="video-container">
        <video autoplay muted loop playsinline>
            <source src="\assets\videos\ENDANGERED SPECIES AND WATER QUALITY (1).mp4" type="video/mp4"> <!-- Replace with the actual path to your video -->
            Your browser does not support the video tag.
        </video>
                <div class="map-container">
                    <div id="map" style="height: 450px;">
                    </div>
                </div>    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                <script src="/js/map.js"></script>
          </div>

<%- include("partials/footer") -%> 

</body>
</html>


