<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/pages/prevention.css">

<h1 class="Name">Our Duty</h1>

<ul class="prevention-list">
    <li class="prevention-Item"><b>Reduce Pollution:</b></li>
    <ul>
        <li class="prevention-subItem ">Minimize single-use plastics.</li>
        <li class="prevention-subItem ">Properly dispose of waste.</li>
        <li class="prevention-subItem ">Participate in beach cleanups.</li>
        <li class="prevention-subItem ">Choose reef-safe sunscreens that are free from harmful chemicals like oxybenzone and octinoxate and zinc.</li>
    </ul>

    <li class="prevention-Item"><b>Sustainable Fishing Practices:</b></li>
    <ul>
        <li class="prevention-subItem ">Choose sustainably sourced seafood.</li>
        <li class="prevention-subItem ">Support responsible fisheries.</li>
        <li class="prevention-subItem ">Advocate for fishing quotas and marine protected areas.</li>
    </ul>

    <li class="prevention-Item"><b>Combat Climate Change:</b></li>
    <ul>
        <li class="prevention-subItem ">Reduce personal carbon footprint.</li>
        <li class="prevention-subItem ">Support renewable energy sources.</li>
        <li class="prevention-subItem ">Promote government action on emissions and habitat protection.</li>
    </ul>

    <li class="prevention-Item"><b>Preserve Coastal Habitats:</b></li>
    <ul>
        <li class="prevention-subItem ">Restore and protect mangroves, seagrass beds, and salt marshes.</li>
        <li class="prevention-subItem ">Recognize their importance as nurseries and storm buffers.</li>
    </ul>

    <li class="prevention-Item"><b>Education and Advocacy:</b></li>
    <ul>
        <li class="prevention-subItem ">Raise awareness about marine conservation.</li>
        <li class="prevention-subItem ">Advocate for policies protecting the ocean.</li>
        <li class="prevention-subItem">Engage in grassroots efforts and support marine conservation organizations.</li>
    </ul>

    <li class="prevention-Item"><b>Responsible Tourism:</b></li>
    <ul>
        <li class="prevention-subItem ">Choose eco-friendly tour operators.</li>
        <li class="prevention-subItem ">Follow guidelines for responsible wildlife viewing to avoid disturbing marine animals.</li>
        <li class="prevention-subItem">Use sunscreen with non-nano zinc oxide to minimize harm to marine life.</li>
    </ul>

    <li class="prevention-Item"><b>Reduce Noise Pollution:</b></li>
    <ul>
        <li class="prevention-subItem ">Support quieter ship designs and speed limits.</li>
        <li class="prevention-subItem ">Advocate for stricter regulations to minimize noise pollution in marine environments.</li>
    </ul>
</ul>

<%- include("partials/footer") -%> 