<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/pages/spiral.css">

<h1 class="Name">Average Earth temperatures from 1880-2023</h1>

<div id="climateContainer">
    <div id="climateCanvas"></div>
  </div>

  <script src="/js/spiral.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.7.0/lib/p5.js"></script>


<%- include("partials/footer") -%> 