
body {
    background: white;
    height: 100%;
    width: 100%;
}

/* NavBar */
.navbar {
  padding-left: 3%;
  padding-right: 3%;
  color: black;
  font-size: 200%;
  font-family: 'Kulim Park', sans-serif;
}

.navbar-brand {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 200%;
  color:black;
}

.map-container {
    border-width: 10px;
    margin-left: 10%;
    margin-top: 5%;
    width: 1200px; /* Set the desired width for your map container */
    height: 400px; /* Set the desired height for your map container */
    border: 1px solid #ccc; /* Optional: Add a border to the map container */
}

.Name {
    margin-left: 35%;
    margin-top: 5%;
    font-size: 75px;
}